.snap-container {
  text-align: center;
}

.snap-status {
  height: 100px;
}

.cards-container {
  display: flex;
  justify-content: space-around;
}

.card-frame {
  min-width: 220px;
  min-height: 320px;
  border: 2px solid black;
}

.draw-btn {
  font-size: 1rem;
  margin-top: 50px;
  padding: 30px;
  background-color: rgb(24, 124, 255);
  color: white;
  border-radius: 10px;
  border: 1px solid black;
}
