.header {
  color: gray;
  border-bottom: 1px solid gray;
}

.header-title {
  font-size: 22px;
  width: 50%;
  margin: 5px 10px;
  display: inline-block;
}

.header-circle {
  border: 1px solid black;
  border-radius: 50%;
  float: right;
  margin: 5px 5px;
  min-height: 20px;
  min-width: 20px;
}

.blue {
  border-color: blue;
}